<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Include main CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Include jQuery library -->
    <script src="../js/libs/jquery-3.1.1.min.js"></script>

    <!-- Include AngularJS library -->
    <script src="../js/libs/angular.min.js"></script>
    <script src="../js/libs/angular-route.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- Include Bootstrap Javascript -->
    <script src="../js/libs/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
"Vehicles"=>"Vehicle","Aircraft"=>"Aircraft","CurrentPropertiesRollup"=>"Property","PastPropertiesRollup"=>"Property",
"PropertyTaxes"=>"PropertyTax","PropertyForeclosures"=>"PropertyForeclosure","ProfessionalLicenses"=>"ProfessionalLicense","PilotLicenses"=>"PilotLicense","Liens"=>"PersonalLienFiling",
"Judgments"=>"PersonalJudgmentFiling","Evictions"=>"Eviction","UCCFilings"=>"UCCFiling","CorporateFilings"=>"CorporateFiling",
"VoterRegistrations"=>"VoterRegistration","Employers"=>"TLOEmployer","TradeMarks"=>"TradeMark","FLTrafficCrashes"=>"FLTrafficCrash","ConcealedWeaponPermits"=>"ConcealedWeaponPermit","HuntingPermits"=>"HuntingPermit","CriminalRecordMatchesV005"=>"CriminalSearchMatchV005","UtilityConnections"=>"UtilityConnection",
"SightedLicensePlates"=>"VehicleTag","WatchListRecords"=>"WatchListRecord");